.load-file-card {
    button {
        width: 150px;
    }
}

.divider {
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.dance-script {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}